@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}


.pink {
    background-color: pink;
}

#portfolio {
    position: relative;

}

.card {
    position: sticky;
}

.noDeco {
    text-decoration: none;
}